@import '../../styles/main.scss';
.index {
    .express {
        padding: 1em 3px 30px 5px;
        width: 300px;
        height: 100px;
        border: none;
        margin: 0 auto;
        text-align: center;

    }
    .take-out {
        padding: 1em 3px 30px 5px;
        width: 300px;
        height: 100px;
        border: none;
        margin: 0 auto;
        text-align: center;
    }
}

